#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

#content{
    height: 100%;
    position: relative;
    text-align: center;
}

#main-search{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#search{
    width: 350px;
}





/*
  Styles for the Google Search Box
*/
.pac-item{
    font-size: 20px;
}
.pac-item > * {
    font-size: 20px;
}